<div class="tui-window">
  <fieldset class="tui-fieldset">
    <legend class="center"><%= I18n.t('labels.sign_in') %></legend>
    <%= form_with url: authenticate_path, method: :post do |form| %>
      <div>
        <%= form.label :email, I18n.t('labels.email') %>
        <%= form.email_field :email, required: true, class: 'tui-input' %>
      </div>

      <div>
        <%= form.label :password, I18n.t('labels.password') %>
        <%= form.password_field :password, required: true, class: 'tui-input' %>
      </div>

      <div>
        <%= form.submit I18n.t('labels.submit'), class: 'tui-button' %>
      </div>
    <% end %>
  </fieldset>
</div>